@model IEnumerable<Diary2.ViewModels.Entryvm>


<div class="row">



    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <article role="pge-title-content" class="blog-header">

            <header>

                <h2>@ViewData["archive"]</h2>


            </header>

            <p>Three Years of Sacrifice and Love!</p>
            <a class="btn btn-lg btn-danger" href=@Url.Action("Create","Diary") name="Add" title="Add Diary">Add New Diary Page</a>
        </article>
    </div>
    @foreach (var item in Model)
            {
        Random r = new Random();
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="grid-lod effect-2" id="grid">

                <section class="blog-content">
                    <a href=@Url.Action("Edit","Diary",new { id = item.Id})>
                        <figure>
                            <div class="post-date">
                                <span>@Html.DisplayFor(modelItem => item.DateAdded.Day)</span>
                                @Html.DisplayFor(modelItem => item.DateAdded.Month)
                            </div>
                            
                            <img src=@Url.Content(item.DiaryPhotos.ElementAt(r.Next(1,3))) class="img-responsive" />

                        </figure>
                    </a>
                    
                    <article>
                        @Html.DisplayFor(modelItem => item.Texts)
                        <br />
                        <br />
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </article>
                </section>


            </div>

        </div>

    }

</div>
